body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.bg-image {
    /* The image used */
    background-image: url("ids.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}