<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Upload File</title>
</head>
<style>
      body {

font-family: Arial, sans-serif;
background-color: #f2f2f2;
margin: 0;
padding: 0;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}   

h2 {
text-align: center;
color: #333333;
}

form {
margin-top: 20px;
}

.upload-form {
    text-align: center;
}
</style>

<body>
    {% include 'navbar.html' %}


    <h1>Intrusion Detection System</h1>
  <p>Upload a file to train the KNN algorithm:</p>
  <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Train KNN">
  </form>
  <br>
  <p>Make a prediction using the KNN algorithm:</p>
  <form action="{{ url_for('predict') }}" method="post">
    <label for="feature1">Feature 1:</label>
    <input type="text" name="feature1" required><br>
    <label for="feature2">Feature 2:</label>
    <input type="text" name="feature2" required><br>
    <label for="feature3">Feature 3:</label>
    <input type="text" name="feature3" required><br>
    <input type="submit" value="Predict">
  </form>
</body>

</html>